.mypagemain
  = render 'users/side-navbar'
  .creditregist
    %h2.creditregist-head
      お気に入り一覧
    .creditregist-inner
      %ui.favorite-list
        - @favorites.each  do |favorite|
          %ol.favorite-list-item
            商品名：
            = favorite.item.name
            %br/
            価格：
            = favorite.item.price
