.mypagemain
  = render 'users/side-navbar'
  .creditregist
    %h2.creditregist-head
      支払い方法
    .creditregist-inner
      .credit-list
        クレジットカード一覧
        %ul
          %li
      .creditadd
        .creditadd-btn
          = link_to "" do
            クレジットカードを追加する
