%body.maim1
  .page1
    .asec.apadmid.auwork
      .asec.aspacnone.aunav
        .asec.aspecmed.atexcen
          = link_to image_tag("http://furima.tokyo/assets/logo-d3d78326971d78b06e3d6f0ba666d025a8ad681286b4d9e00e7dbe8673bcfd23.svg"), '#'
      .asec.centersec
        .asec.mainsec
          .asec.aupagecont
            .asec
              %form.asnone
                .abox.aexlarge
                  .aboxin
                    %h1.asmall
                      新規登録フォーム（STEP3)
                    .arfmgroup
                      .arow.abase
                        %label.aflabel
                          送付先郵便番号
                        %span.forequire
                          必須
                      .selwrap
                        %input.indef{placeholder: "例）12345678"}
                    .arfmgroup
                      .arow.abase
                        %label.aflabel
                          送付先都道府県
                        %span.forequire
                          必須
                      .selwrap
                        %i.ibbot
                        %select.seldef
                    .arfmgroup
                      .arow.abase
                        %label.aflabel
                          送付先市区町村
                        %span.forequire
                          必須
                      .selwrap
                        %input.indef{placeholder: "例）横浜市緑区"}
                    .arfmgroup
                      .arow.abase
                        %label.aflabel
                          送付先番地
                        %span.forequire
                          必須
                      .selwrap
                        %input.indef{placeholder: "例）青山1-1-1"}
                    .arfmgroup
                      .arow.abase
                        %label.aflabel
                          送付先建物名、部屋番号
                        %span.anyany
                          任意
                      .selwrap
                        %input.indef{placeholder: "例）林ビル913"}
                    .arfmgroup
                      .arow.abase
                        %label.aflabel
                          送付先電話番号
                        %span.anyany
                          任意
                      .selwrap
                        %input.indef{placeholder: "例）02099999999"}
                    %span.abtn.abtnnor.abtn12.abtnpri
                      %span.abtnin
                        %span.abtext
                          新規登録を完了する
                    .arow
                      新規登録を完了することにより、当社の利用規約およびプライバシー規約に同意したものとみなされます。






