@mixin btn_design($color:red) {
  cursor: pointer;
  margin-top: 10px;
  font-size: 17px;
  width: 100%;
  min-height: 48px;            
  background-color: $color;
  color: #FFF;
  padding: 0 24px;
}


label {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.4em;
}

span {
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  margin-left: 8px;
  padding: 0 4px;
  &.required {
    background-color: red;
  }
  &.discretion {
    background-color: gray;
  }
}

//hr、selspaceを変数化する意味が分からなくなりました
hr {
  border-top-width: 1px;
}
.selspace {
  margin-top: 32px;
}

.tmpimg{
  width: 120px;
  height: 160px;
  object-fit: cover;
  margin-right: 3px;
}

  //file_fieldのcss
  .hidden-content {
    display: flex;
    -webkit-flex-wrap: wrap;          /* Safari etc. */
    -ms-flex-wrap    : wrap;          /* IE10        */
    flex-wrap        : wrap;
    .hidden-field {
      display: none;
    }
    .hidden-checkbox {
      display: none;
    }
  }
  .tmpphoto{
    width: 100%;
    height: 100%;
    color: black;  
    // background-color: red;
    padding: 6px;
    border-radius: 12px;
  }
  .js-file{
    // #item_images_attributes_0_image{
    display: none;
  }
.js-file_group{
  #src{
    display: none;
  }
  #item_images_attributes_0_image{
    display: none;
  }
}

.selmain {
  max-width: 700px;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  &-form {
    &_box {
      padding: 40px;
      .selimage {
        margin: 0px;
        &-title {
          align-items: center;
          display: flex;
        }
        &-function {
          margin-top: 16px;
          overflow: auto;
          &_input {
            display: flex;
            flex-wrap: wrap;
            .clkarea {
              // height: 150px;
              flex: 1 1 0%;
              border-width: 1px;
              border-style: dashed;
              // cursor:pointer;
              // .prepic{
              //   width: 150px;
              // }
              &-input {
                width:100%;
                height:100%;
                visibility: hidden;  // 「ファイルを選択」の見た目を消す
                display: none;       // 「ファイルを選択」の言葉自体（幅）を消す
              }
              &-icon {
                font-size: 1.4em;
                margin-top: 50px;
                width: 100%;
                text-align: center;
              }
              p.clkarea-text {
                text-align: center;
              }
            }
          }
        }
        .selimage-error{
          color: red;
          margin-top: 16px;
        }
      }

      .selname {
        margin: 0px;
        &-title {
          align-items: center;
          display: flex;
        }
        &-function {
          margin-top: 16px;
          &_input {
            display: inline-block;
            position: relative;
            width: 100%;
            .selname-text, .selexplanation-text {
              padding: 0 16px;
              height: 48px;
              width: inherit;
            }
          }
        }
        .selname-error, .selexplanation-error {
          color: red;
          margin-top: 16px;
        }
      }

      .seldetail {
        margin: 0px;
        &-main {
          margin-bottom: 16px;
        }
        &-title {
          align-items: center;
          display: flex;
        }
        &-function {
          margin-top: 16px;
          &_input {
            display: inline-block;
            position: relative;
            width: 100%;
            .selcategory-select, .selbrand-text, .selstatus-select {
              padding: 0 16px;
              height: 48px;
              width: inherit;
            }
          }
        }
      }
      .selcategory-error, .selstatus-error {
        color: red;
        margin-top: 16px;
      }
      .seldelovery {
        margin: 0px;
        &-main {
          margin-bottom: 16px;
        }
        &-title {
          align-items: center;
          display: flex;
        }
        &-function {
          margin-top: 16px;
          &_input {
            display: inline-block;
            position: relative;
            width: 100%;
            .seldelfee-select, .selshiori-select, .selshiday-select {
              padding: 0 16px;
              height: 48px;
              width: inherit;
            }
          }
        }
        .seldelfee-error, .selshiori-error, .selshiday-error {
          color: red;
          margin-top: 16px;
        }
      }
      .selprice {
        margin: 0px;
        &-main {
          margin-bottom: 16px;
        }
        &-title {
          align-items: center;
          display: flex;
        }
        &-function {
          margin-top: 16px;
          &_input {
            display: inline-block;
            position: relative;
            width: 100%;
            .selprice-text {
              padding: 0 16px;
              height: 48px;
              width: inherit;
            }
          }
        }
        .selprice-error {
          color: red;
          margin-top: 16px;
        }
      }
      .selsubmit {
        width: 360px;
        // display: flex;  widthが崩れる
        align-items: center;
        margin: 0 auto;
        &-button {
          &_sell {
            @include btn_design();
          }
          &_delete {
            text-align: center;
            line-height: 48px;
            display: block;
            @include btn_design(blue);
          }
          &_save {
            font-size: 17px;
            width: 100%;
            min-height: 48px;
            background-color: gray;
            color: #000;
            margin-top: 24px;
            padding: 0 24px;
          }
          &_back {
            width: 100%;
            min-height: 48px;
            margin-top: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
          }
        }
      }
    }
  }
}
