-# %h1 Items#index
-# %p Find me in app/views/items/index.html.erb
.salebtn
  .salebtn-name
    出品
  .salebtn-icon
    = icon('fa', 'camera fa-4x')
-# contents header の略
.ctnheader
  %h2.ctnheader-ttl
    人気のカテゴリー
  .ctnheader-menu
    %ul
      %li.ctnmenu-item
        =link_to '#' do
          レディース
      %li.ctnmenu-item
        =link_to '#' do
          メンズ
      %li.ctnmenu-item
        =link_to '#' do
          家電・スマホ・カメラ
      %li.ctnmenu-item
        =link_to '#' do
          おもちゃ・ホビー・グッズ
-# contents area　の略
.ctnarea
  .ctnarea-hdr
    %h3.ctnarea-hdr_ttl
      レディース新着アイテム
    .seemore
      =link_to '#' do
        もっと見る
  .ctnarea-list
    %ul
      %li.ctnlist-item
        =link_to '#' do
          %img.ctnlist-item_img{alt: "商品イメージ", src: "https://images.unsplash.com/photo-1586339392738-65847e399f7e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80"}
          .ctnlist-item_name
            商品タイトル
      %li.ctnlist-item
        =link_to '#' do
          %img.ctnlist-item_img{alt: "商品イメージ", src: "https://images.unsplash.com/photo-1586339392738-65847e399f7e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80"}
          .ctnlist-item_name
            商品タイトル
      %li.ctnlist-item
        =link_to '#' do
          %img.ctnlist-item_img{alt: "商品イメージ", src: "https://images.unsplash.com/photo-1586339392738-65847e399f7e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80"}
          .ctnlist-item_name
            商品タイトル
      %li.ctnlist-item
        =link_to '#' do
          %img.ctnlist-item_img{alt: "商品イメージ", src: "https://images.unsplash.com/photo-1586339392738-65847e399f7e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80"}
          .ctnlist-item_name
            商品タイトル
      %li.ctnlist-item
        =link_to '#' do
          %img.ctnlist-item_img{alt: "商品イメージ", src: "https://images.unsplash.com/photo-1586339392738-65847e399f7e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80"}
          .ctnlist-item_name
            商品タイトル
      %li.ctnlist-item
        =link_to '#' do
          %img.ctnlist-item_img{alt: "商品イメージ", src: "https://images.unsplash.com/photo-1586339392738-65847e399f7e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80"}
          .ctnlist-item_name
            商品タイトル
      %li.ctnlist-item
        =link_to '#' do
          %img.ctnlist-item_img{alt: "商品イメージ", src: "https://images.unsplash.com/photo-1586339392738-65847e399f7e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80"}
          .ctnlist-item_name
            商品タイトル
      %li.ctnlist-item
        =link_to '#' do
          %img.ctnlist-item_img{alt: "商品イメージ", src: "https://images.unsplash.com/photo-1586339392738-65847e399f7e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80"}
          .ctnlist-item_name
            商品タイトル


.ctnheader
  .ctnheader-ttl
    %h2
      人気のブランド
  .ctnheader-menu
    %ul
      %li.ctnmenu-item
        =link_to '#' do
          シャネル
      %li.ctnmenu-item
        =link_to '#' do
          ルイヴィトン
      %li.ctnmenu-item
        =link_to '#' do
          シュプリーム
      %li.ctnmenu-item
        =link_to '#' do
          ナイキ
.ctnarea
  .ctnarea-hdr
    %h3.ctnarea-hdr_ttl
      ブランド新着アイテム
    .seemore
      =link_to '#' do
        もっと見る
  .ctnarea-list
    %ul
      %li.ctnlist-item
        =link_to '#' do
          %img.ctnlist-item_img{alt: "商品イメージ", src: "https://images.unsplash.com/photo-1586527484765-979a20639316?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80"}
          .ctnlist-item_name
            商品タイトル
      %li.ctnlist-item
        =link_to '#' do
          %img.ctnlist-item_img{alt: "商品イメージ", src: "https://images.unsplash.com/photo-1586527484765-979a20639316?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80"}
          .ctnlist-item_name
            商品タイトル
      %li.ctnlist-item
        =link_to '#' do
          %img.ctnlist-item_img{alt: "商品イメージ", src: "https://images.unsplash.com/photo-1586527484765-979a20639316?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80"}
          .ctnlist-item_name
            商品タイトル
      %li.ctnlist-item
        =link_to '#' do
          %img.ctnlist-item_img{alt: "商品イメージ", src: "https://images.unsplash.com/photo-1586527484765-979a20639316?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80"}
          .ctnlist-item_name
            商品タイトル
      %li.ctnlist-item
        =link_to '#' do
          %img.ctnlist-item_img{alt: "商品イメージ", src: "https://images.unsplash.com/photo-1586527484765-979a20639316?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80"}
          .ctnlist-item_name
            商品タイトル
