.canema
  .canema-title
    クレジットカード情報照会
  .canema-content-title
    カード番号
  %input{type: "text", class: "canema-content-text disabled", disabled: true, value: "**** **** **** " + "#{@card.last4}"}
    .canema-content-title
      有効期限
    %input{type: "text", class: "canema-content-text input_half disabled", disabled: true, value: @card[:exp_month]}
    %input{type: "text", class: "canema-content-text input_half disabled", disabled: true, value: @card[:exp_year]}